   b{
    background-color: white;
  }
  
  .parrafo {
  
    background-color: violet;
    padding: 20px;
    box-shadow: 30px 30px 5px rgba(0, 0, 0, 0.5) ;
  
  }
  
 
  button {
  
    background-color: white;
    
  }
  